<app-ship-position-box shipType="Battleship" (shipPlacementUpdate)="placeBattleship($event)"></app-ship-position-box>
<app-ship-position-box shipType="Destroyer" (shipPlacementUpdate)="placeDestroyer($event)"></app-ship-position-box>
<app-ship-position-box shipType="Cruiser" (shipPlacementUpdate)="placeCruiser($event)"></app-ship-position-box>
<app-ship-position-box shipType="Carrier" (shipPlacementUpdate)="placeCarrier($event)"></app-ship-position-box>
<app-ship-position-box shipType="Submarine" (shipPlacementUpdate)="placeSubmarine($event)"></app-ship-position-box>

